@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";



#whole{
    background-color: rgba(199, 202, 204, 0.486);
    padding: 80px 130px;
    margin: 0px 395px;
    border-radius: 10px;
    box-sizing: border-box
}

#submitButton{
    padding: 10px;
    background-color: rgb(119, 177, 224);
    margin-left: 50px;
    border-radius: 6px;
    border: 0px
    
}

#eye{
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    margin-left: 5px;
    background-color: silver
} 
