@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");



#whole{
    background-color: rgba(199, 202, 204, 0.486);
    padding: 80px 130px;
    margin: 0px 395px;
    border-radius: 10px;
    box-sizing: border-box
}

#submitButton{
    padding: 10px 30px;
    background-color: rgb(119, 177, 224);
    margin-left: 40px;
    margin-top: 10px;
    border-radius: 6px;
    border: 0px;
    color: white;
    font-size: 16px;
    
}

span{
    margin-left: -20px;
}

.width{
    max-width: 192px;
}