<div id="whole">
  <form [formGroup]="regForm" (ngSubmit)="submit()">
    <label>
      First Name:
      <br />
      <input type="text" formControlName="firstName">
      <br />
      <div *ngIf="!regForm.controls['firstName'].valid && (regForm.controls['firstName'].dirty || regForm.controls['firstName'].touched)"
        class="alert alert-danger">

        <div *ngIf="regForm.controls['firstName'].errors.required">
          Name is required.
        </div>
        <div *ngIf="regForm.controls['firstName'].errors.pattern">
          Name must contain alphabets only
        </div>

      </div>
    </label>
    <br />
    <label>
      Last Name:
      <br />
      <input type="text" formControlName="lastName">
      <br />
      <div *ngIf="!regForm.controls['lastName'].valid && (regForm.controls['lastName'].dirty || regForm.controls['lastName'].touched)"
        class="alert alert-danger">

        <div *ngIf="regForm.controls['lastName'].errors.required">
          Name is required.
        </div>
        <div *ngIf="regForm.controls['lastName'].errors.pattern">
          Name must contain alphabets only
        </div>

      </div>
    </label>
    <br />

    <label>
      Email :
      <br />
      <input type="email" formControlName="email">
      <br />
      <div *ngIf="!regForm.controls['email'].valid && (regForm.controls['email'].dirty || regForm.controls['email'].touched)" class="alert alert-danger">

        <div *ngIf="regForm.controls['email'].errors.required">
          Email is required.
        </div>
        <div *ngIf="regForm.controls['email'].errors.email">
          Not a valid email id format.
        </div>

      </div>
    </label>
    <br />
    <label>
      Phone no:
      <br />
      <input type="text" formControlName="pNumber" maxlength="10" minlength="10">
      <br />
      <div *ngIf="!regForm.controls['pNumber'].valid && (regForm.controls['pNumber'].dirty || regForm.controls['pNumber'].touched)"
        class="alert alert-danger">

        <div *ngIf="regForm.controls['pNumber'].errors.required">
          Phone no is required.
        </div>
        <div *ngIf="regForm.controls['pNumber'].errors.pattern">
          Enter only numbers.
        </div>
        <div *ngIf="regForm.controls['pNumber'].errors.minlength">
          Must be a 10 digit number.
        </div>

      </div>
    </label>
    <br />

    <label>
      Gender:
      <br />
      <input type="text" formControlName="gender" required pattern="male|female|Other|male|female">
      <br />
      <div *ngIf="!regForm.controls['gender'].valid && (regForm.controls['gender'].dirty || regForm.controls['gender'].touched)"
        class="alert alert-danger">

        <div *ngIf="regForm.controls['gender'].errors.required">
          Can only be Male/Female/Other
        </div>


      </div>
    </label>
    <br />

    <label>
      Emp Id:
      <br />
      <input type="text" formControlName="empId" maxlength="4" minlength="4">
      <br />
      <div *ngIf="!regForm.controls['empId'].valid && (regForm.controls['empId'].dirty || regForm.controls['empId'].touched)" class="alert alert-danger">

        <div *ngIf="regForm.controls['empId'].errors.required">
          Employee id is required.
        </div>
        <div *ngIf="regForm.controls['empId'].errors.minlength">
          Must be a 4 digit Id
        </div>
        <div *ngIf="regForm.controls['empId'].errors.pattern">
          Numbers only
        </div>

      </div>
    </label>
    <br />

    <label>Password:
      <br />
      <input [type]=showPassword formControlName="password">
      <button type="button" class="btn btn-default" id="eye" (click)="showPass()"> 
        <span class="glyphicon glyphicon-eye"></span>
      </button> 
      <br />
      <div *ngIf="!regForm.controls['password'].valid && (regForm.controls['password'].dirty || regForm.controls['password'].touched)"
        class="alert alert-danger">

        <div *ngIf="regForm.controls['password'].errors.required">
          Password is required.
        </div>
        <div *ngIf="regForm.controls['password'].errors.pattern">
          Must contain one capital letter, one small letter, one special character and one number
        </div>

      </div>
    </label>
    <br />
    <label>
      Confirm Password:
      <br />
      <input type="password" formControlName="cPassword" (keyup)="check()">
      <br />
      <div *ngIf="value">Password doesn't match</div>
    </label>
    <br />
    <br />

    <!-- <button (click)="submit()" [disabled]="!regForm.valid">Submit</button> -->
    <input id="submitButton" type="submit" value="Submit" [disabled]="!regForm.valid"/>
  </form>
</div>