<h1> Working!</h1>
<table cellspacing="20">
    <tr>
        <th>First Name &emsp;&emsp;&emsp;</th>
        <th>Last Name&emsp;&emsp;&emsp;</th>
        <th>Email&emsp;&emsp;&emsp;</th>
        <th>Phone number&emsp;&emsp;&emsp;</th>
        <th>Gender&emsp;&emsp;&emsp;</th>
        <th>Emp Id&emsp;&emsp;&emsp;</th>
    </tr>
    <tr>
        <td>{{myItem.firstName}}</td>
        <td>{{myItem.lastName}}</td>
        <td>{{myItem.email}}</td>
        <td>{{myItem.pNumber}}</td>
        <td>{{myItem.gender}}</td>
        <td>{{myItem.empId}}</td>
    </tr>
</table>
<button (click)="editForm()">Edit Form</button>
